<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV43xrQIpG19qMTCc1pHy26MHSozyg6NM</string>
	<key>GCM_SENDER_ID</key>
	<string>558194793862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trissea.spup</string>
	<key>PROJECT_ID</key>
	<string>decisive-plasma-415707</string>
	<key>STORAGE_BUCKET</key>
	<string>decisive-plasma-415707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558194793862:ios:485e5ab44bcd327a9e6007</string>
	<key>DATABASE_URL</key>
	<string>https://decisive-plasma-415707-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>